*
body{
    background-image: url(../IMG/pexels-foodie-factor-551993.jpg);
    margin-top: 270px;
    margin-left: 270px;
    background-size: cover;
    display: flex;
}

#container{
    height: 630px;
    width: 359px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 20px;
    align-content: center;
    background-color: #ffffff;
}

#container form{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 20px;
}

#container input[type=text]{
    height: 95px;
    width: 300px;
    align-content: center;
    cursor: default ;
    font-family:'Montserrat Alternates', sans-serif ;
    font-size: 30px;
    background-color: gray;
    border-radius: 6px;
    border:solid 10px;
    margin-top: 50px;
    margin-left: 12px;
    text-align: right;
}

#container input[type=button]{
    height: 80px;
    width: 75px;
    border-radius: 80px;
    border: solid 0px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 6px 2px 1px rgb(212, 200, 200);
}

#container input[type=reset]{
    width: 75px;
    height: 80px;
    border-radius: 80px;
    border: solid 0px;
    margin-top: 1px;
    margin-left: 5px;
    box-shadow: 6px 2px 1px rgb(212, 200, 200);
}

#container input[class=orange]{
    background-color: rgb(197, 202, 233 );
    color: blueviolet;
}

#container input[class=white]{
    background-color: rgb(255, 123, 0);
    color: white;
}

#container input[class=yellow]{
    background-color: blue;
    color: white;
}

#container input[class=beich]{
    background-color: rgb(253, 235, 208);
}